.container {
  width: 360px;
  height: 600px;
  background:#798386;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: white;
  text-align: center;
}
div.app:before{
content: "";
position: absolute;
left:0;
width: 100%;
height: 100px;
display: inline-block;
z-index: 0;
}
.head{
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 8%%;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  background: #20AC58;
}
.count{
  zoom:0.1;
  float: left;
  margin-top: 70px;
  margin-left: 70px;
}
.bodycontent{
  color: #070707;
  margin-top: 50%;
}
.btn {
    margin-top: 70%;
    background-color: #080808;
    border: none;
    color: #0a0a0a;
    border: 2px;
    border-style: solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn:hover {
    background-color: #070707; 
    color: rgb(10, 10, 10);
}
#h1{
  font-size: 10px;
}
.bodycontent {
    margin-left: 20px;
    color: #030303;
    margin-top: 23%;
    float: left;
  }
.bodycontent h3 {
    font-size: 4px;
}
.bodycontent h3 {
    font-size: 16px;
    font-weight: 100;
}
.bodycontent #in {
    background-color: red;
}
.bodycontent #in {
    background-color: #ff000000;
    border: 1px;
    border-color: #0a0a0a;
    border-style: solid;
}
.bodycontent #in {
    background-color: #ff000000;
    border: 1px;
    border-color: #080808;
    border-style: solid;
    width: 298px;
}
.bodycontent h3 {
    font-size: 16px;
    font-weight: 100;
}

.bodycontent2 h4 {
    font-size: 16px;
    font-weight: 100;
}
.bodycontent h3 {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}
.bodycontent h3 {
    font-size: 16px;
    font-weight: 100;
}
.bodycontent2 h4 {
    color: #080808;
    font-size: 16px;
    font-weight: 100;
}
.bodycontent2 #in2 {
    
    padding-top: 9px;
    padding-top: 9px;
    border: 1px;
    border-color: #080808;
    border-style: solid;
    width: 298px;
    color: #0d0d0e;
    background-color: #00ffff00;
}
.bodycontent2{
  margin-top: 10px;
}
.bodycontent {
    margin-left: 20px;
    color: #070707;
    margin-top: 3%;
    float: left;
}
.bodycontent #in {
    color: #070707;
    padding: 5px 10px;
    background-color: #ff000000;
    border: 1px;
    border-color: #050505;
    border-style: solid;
    width: 300px;
}
.bodycontent2 p{
  color:#070707;

}
#frm{
  color:#0a0a0a;
  margin-top: 50%;
}
.option{
  color :rgb(8, 8, 8);
}
.slt {
    width: 152px;
    color: rgb(2, 2, 10);
    color: #050505;
    background-color: #ff000000;
    border: 1px;
    border-color: #050505;
    border-style: solid;
}
.req {
    width: 300px;
    border-radius: -7%;
    margin-top: 45%;
    background-color: #e0f6fc;
    border: none;
    color: #0a0a0a;
    border: 2px;
    border-style: solid;
    padding: 8px;
    margin-left: 19px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.bodycontent2 #in2 {
    font-size: 20px;
    border: 1px;
    border-color: #070707;
    border-style: solid;
    width: 298px;
    color: #0a0a0a;
    background-color: #00ffff00;
}
.bodycontent2 h2{
  color:#0d0d0e;
}