body{
  background: #606060;
  margin: 0;
  padding: 0;
  font-family: "Montserrat" ,sans-serif;
}
.container {
  width: 360px;
  height: 600px;
  background:#e0f6fc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: white;
  text-align: center;
} 
.app{
   width: 360px;
  height: 600px;
  background:#e0f6fc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: white;
}
div.app:before{
content: "";
position: absolute;
left:0;
width: 100%;
height: 100px;
display: inline-block;
z-index: 0;
}
div.app div.head
{
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 8%%;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  background: #20AC58;
}
.icon {
    margin-right: 5px;
    width: 30px;
    height: 20px;
    color: transparent;
    float: right;
    margin-top: 10px;
}
.count{
  zoom:0.1;
  float: left;
  margin-top: 70px;
  margin-left: 70px;
}
.bodycontent{
  color: #29abe2;
  margin-top: 50%;
}
.align {
  margin-left: 90px;
  margin-right: 20px;
}
.btn {
    margin-top: 70%;
    background-color: #e0f6fc;
    border: none;
    color: #29abe2;
    border: 2px;
    border-style: solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn:hover {
    background-color: #29abe2; /* Green */
    color: white;
}
#h1{
  font-size: 10px;
  ;
}
.bodycontent {
    margin-left: 20px;
    color: #29abe2;
    margin-top: 23%;
    float: left;
  }
.bodycontent h3 {
    font-size: 4px;
}
.bodycontent h3 {
    font-size: 16px;
    font-weight: 100;
}
.bodycontent #in {
    background-color: red;
}
.bodycontent #in {
    background-color: #ff000000;
    border: 1px;
    border-color: #29abe2;
    border-style: solid;
}
.bodycontent #in {
    background-color: #ff000000;
    border: 1px;
    border-color: #29abe2;
    border-style: solid;
    width: 298px;
}
.bodycontent h3 {
    font-size: 16px;
    font-weight: 100;
}

.bodycontent2 h4 {
   
    font-size: 16px;
    font-weight: 100;
}
.bodycontent h3 {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}
parcel creation.css:98
.bodycontent h3 {
    font-size: 16px;
    font-weight: 100;
}
.bodycontent2 h4 {
    color: #29abe2;
    font-size: 16px;
    font-weight: 100;
}
.bodycontent2 #in2 {
    padding-top: 9px;
    padding-top: 9px;
    border: 1px;
    border-color: #29abe2;
    border-style: solid;
    width: 298px;
    color: #29abe2;
    background-color: #00ffff00;
}
.bodycontent2{
  margin-top: 10px;
  margin-right: -3px;
}
.bodycontent {
    margin-left: 20px;
    color: #29abe2;
    margin-top: 3%;
    float: left;
}
.bodycontent #in {
    color: #29abe2;
    padding-top: 9px;
    background-color: #ff000000;
    border: 1px;
    border-color: #29abe2;
    border-style: solid;
    width: 298px;
}
.bodycontent2 p{
  color:#29abe2;
}
#frm{
  color:#29abe2;
  margin-top: 50%;
}
.option{
  color :blue;
}
.slt {
    width: 152px;
    color: blue;
    color: #29abe2;
    background-color: #ff000000;
    border: 1px;
    border-color: #29abe2;
    border-style: solid;
}
.req {
    border-radius: 5px;
    margin-top: 20px;
    background-color: #e0f6fc;
    border: none;
    color: #20AC58;
    border: 2px;
    border-style: solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.req:hover {
    background-color: #29abe2; /* Green */
    color: white;
}
.bodycontent2 #in2 {
    font-size: 20px;
    border: 1px;
    border-color: #29abe2;
    border-style: solid;
    width: 298px;
    color: #29abe2;
    background-color: #00ffff00;
}