body {
  background: #9e9595;
  margin: 0;
  padding: 0;
  font-family: "Montserrat" ,sans-serif;
}
.container {
  width: 1160px;
  height: 600px;
  background: url(../img/picture.png);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform:translate(-50%,-50%);
  color: none;
  text-align: center;

} 
.container h1 {
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: 60px;
}
.tb {
  width: 260px;
  height: 40px;
  background: #eff0ef;
  border-radius: 2px;
  margin: 10px auto;
}
.tb input {
  border: none;
  background: none;
  outline: none;
  text-align: center;
  width: 90%; 
  font-family: "Montserrat" ,sans-serif;
  line-height: 37px;
  font-size: 14px;
  color: #0e6816;
} 
.btn1, .btn2, .btn3 {
  width: 140px;
  height: 40px;
  background: #134b18;
  border-radius: 5px;
  margin: 10px auto;
  outline: none;
  border: none;
  color: white;
  transition: 0.4s all;
}

.b1 {
  display: block;
  width: 260px;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  margin: auto;
  transition: 0.4s all;
  color: #0e6816;
}
a:hover {
  color:#0e6816;
}
.b2 {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translatex(-50%);
    width: 260px;
    text-decoration: none;
    transition: 0.4s all;
    text-align: center;
}
.logo {
    margin-top: 139px;
    max-width: 10%;
    width: 40px;
    height: 25px;
    zoom: 0.3;
    left: 50%;
    margin-bottom: 600px;
    margin-left: 300px;

}
.btn:hover {
    background-color: #0e6816; 
    color: white;
}
section {
  margin: 50px 15px 10px 15px;
}
.layer {
  margin: 0;
  padding: 0;
  background:#e0f6fc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: white;
  text-align: center;
} 
.app{
  width: 360px;
  height: 600px;
  background:#e0f6fc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: white;
}
.icon {
    margin-right: 5px;
    width: 30px;
    height: 20px;
    color: transparent;
    float: right;
    margin-top: 10px;
}
div.app:before{
  position: absolute;
  left:0;
  width: 100%;
  height: 100px;
  display: inline-block;
  z-index: 0;
}
.head{
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 8%;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  background: #20AC58;
}
.bodycontent{
  color: #267e39;
  margin-top: 50%;
}
.add {
    margin-top: 300px;
    background-color: #e0f6fc;
    color: #267e1a;
    border: 2px;
    border-style: solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.add:hover {
    background-color: #298f20;
    color: white;
}
.container {
  width: 360px;
  height: 600px;
  background: #f0f0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: #f5f5f5;
  text-align: center;
}
.head {
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 8%;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  background: #216821;
}
.count{
  zoom:0.1;
  float: left;
  margin-top: 70px;
  margin-left: 70px;
}
.align {
  margin-left: 90px;
  margin-right: 20px;
}
.btn {
    margin-top: 70%;
    background-color: #e0f6fc;
    border: none;
    color: #ffffff;
    border: 2px;
    border-style: solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn:hover {
    background-color: #e4e4e4;
    color: white;
}
#h1{
  font-size: 10px;
  ;
}
.bodycontent {
    margin-left: 20px;
    color: #ffffff;
    margin-top: 23%;
    float: left;
  }
.bodycontent h3 {
    font-size: 4px;
}
.bodycontent h3 {
    font-size: 16px;
    font-weight: 100;
}
.bodycontent2 p{
  color:#070707;
}
.option{
  color :rgb(10, 10, 10);
}
.slt {
    width: 152px;
    color: rgb(0, 0, 0);
    color: #0a0a0a;
    background-color: #29882600;
    border: 1px;
    border-color: #070707;
    border-style: solid;
}
.req {
    border-radius: 5px;
    margin-top: 10px;
    background-color: #ffffff;
    border: none;
    color: rgb(12, 12, 12) ;
    border: 2px;
    border-style: solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.bodycontent2 #in2 {
    font-size: 20px;
    border: 1px;
    border-color: #070707;
    border-style: solid;
    width: 298px;
    color: #080808;
    background-color: #00ffff00;
}
.dummy {
    margin-top: 120px;
}
.container {
  width: 360px;
  height: 600px;
  background:#798386;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: white;
  text-align: center;
}
div.app:before{
content: "";
position: absolute;
left:0;
width: 100%;
height: 100px;
display: inline-block;
z-index: 0;
}
.head{
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 8%%;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  background: #20AC58;
}
.count{
  zoom:0.1;
  float: left;
  margin-top: 70px;
  margin-left: 70px;
}
.bodycontent{
  color: #070707;
  margin-top: 50%;
}
.btn {
    margin-top: 70%;
    background-color: #080808;
    border: none;
    color: #0a0a0a;
    border: 2px;
    border-style: solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn:hover {
    background-color: #070707; 
    color: rgb(10, 10, 10);
}
#h1{
  font-size: 10px;
}
.bodycontent {
    margin-left: 20px;
    color: #030303;
    margin-top: 23%;
    float: left;
  }
.bodycontent h3 {
    font-size: 4px;
}
.bodycontent h3 {
    font-size: 16px;
    font-weight: 100;
}
.bodycontent #in {
    background-color: red;
}
.bodycontent #in {
    background-color: #ff000000;
    border: 1px;
    border-color: #0a0a0a;
    border-style: solid;
}
.bodycontent #in {
    background-color: #ff000000;
    border: 1px;
    border-color: #080808;
    border-style: solid;
    width: 298px;
}
.bodycontent h3 {
    font-size: 16px;
    font-weight: 100;
}

.bodycontent h3 {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
}
.bodycontent h3 {
    font-size: 16px;
    font-weight: 100;
}
.bodycontent2{
  margin-top: 10px;
}
.bodycontent {
    margin-left: 20px;
    color: #070707;
    margin-top: 3%;
    float: left;
}
.bodycontent #in {
    color: #070707;
    padding: 5px 10px;
    background-color: #ff000000;
    border: 1px;
    border-color: #050505;
    border-style: solid;
    width: 300px;
}
p{
  color:#070707;

}
#frm{
  color:#0a0a0a;
  margin-top: 50%;
}
.option{
  color :rgb(8, 8, 8);
}
.slt {
    width: 152px;
    color: rgb(2, 2, 10);
    color: #050505;
    background-color: #ff000000;
    border: 1px;
    border-color: #050505;
    border-style: solid;
}
.req {
    width: 300px;
    border-radius: -7%;
    margin-top: 45%;
    background-color: #e0f6fc;
    border: none;
    color: #0a0a0a;
    border: 2px;
    border-style: solid;
    padding: 8px;
    margin-left: 19px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}