body{
  background: #606060;
  margin: 0;
  padding: 0;
  font-family: "Montserrat" ,sans-serif;
}
.container {
  width: 360px;
  height: 600px;
  background:#e0f6fc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: white;
  text-align: center;

} 
.app{
   width: 360px;
  height: 600px;
  background:#e0f6fc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: white;
}
.icon {
    margin-right: 5px;
    width: 30px;
    height: 20px;
    color: transparent;
    float: right;
    margin-top: 10px;
}
div.app:before{
content: "";
position: absolute;
left:0;
width: 100%;
height: 100px;
display: inline-block;
z-index: 0;

}
div.app div.head
{
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 8%%;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  background: #20AC58;


}
.count{
  zoom:0.1;
  float: left;
  margin-top: 70px;
  margin-left: 70px;
}
.bodycontent{
  color: #29abe2;
  margin-top: 50%;
}
.btn {
    margin-top: 70%;
    background-color: #e0f6fc;
    border: none;
    color: #29abe2;
    border: 2px;
    border-style: solid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn:hover {
    background-color: #29abe2; /* Green */
    color: white;
}