body {
  background: #9e9595;
  margin: 0;
  padding: 0;
  font-family: "Montserrat" ,sans-serif;
}
.container {
  width: 360px;
  height: 600px;
  background: url(picture.png);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: #dfdfdf;
  text-align: center;

} 
.container h1 {
  font-size: 40px;
  margin-top: 125px;
  margin-bottom: 60px;
}
.tb {
  width: 260px;
  height: 40px;
  background: #eff0ef;
  border-radius: 2px;
  margin: 10px auto;
}
.tb input {
  border: none;
  background: none;
  outline: none;

  text-align: center;
  width: 90%; 
  font-family: "Montserrat" ,sans-serif;
  line-height: 37px;
  font-size: 14px;
  color: #0e6816;
} 
.btn {
  width: 140px;
  height: 40px;
  background: #134b18;
  border-radius: 5px;
  margin: 10px auto;
  outline: none;
  border: none;
  color: white;
  transition: 0.4s all;
}

.b1 {
  display: block;
  width: 260px;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  margin: auto;
  transition: 0.4s all;
  color: #0e6816;
}
a:hover {
  color:#0e6816;
}
.b2 {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translatex(-50%);
    width: 260px;
    text-decoration: none;
    transition: 0.4s all;
    text-align: center;
}
.logo {
    margin-top: 139px;
    max-width: 10%;
    width: 40px;
    height: 25px;
    zoom: 0.3;
    left: 50%;
    margin-bottom: 600px;
    margin-left: 300px;

}
.btn:hover {
    background-color: #0e6816; 
    color: white;
}
section {
  margin: 50px 15px 10px 15px;
}